{% extends "base.html" %}
{% block content %}

  {% if errors %}
  <div class="alert alert-danger">
    <ul>
      {% for error in errors %}
      <li>{{error}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="page-header">
    <h2>Muokkaa äänestystä</h2>
  </div>

  <form method="post" action="{{base_path}}/poll/{{poll.id}}/edit">
  	<div class="form-group">
  		<label>Äänestyksen nimi:</label>
  		<input name="name" class="form-control" type="text" maxlength="100" value="{{poll.name}}">
  	</div>

  	<div class="form-group">
  		<label>Äänestyksen kuvaus:</label>
  		<input name="description" class="form-control" type="text" maxlength="500" value="{{poll.description}}">
  	</div>

    <div>
      <label>Muista asettaa alkamis- ja päättymisaika uudelleen!</label>
    </div>
  	<div class="form-group">
  		<label>Alkamisaika:</label>
  		<input type="date" name="start_time" value="{{poll.start_time}}">
  		<label>Päättymisaika:</label>
  		<input type="date" name="end_time" value="{{poll.end_time}}">
  	</div>
    
    <div class="form-group">
      <label>Vaihtoehdon nimi:</label>
      <input type="text" maxlength="100">
      <label>Vaihtoehdon kuvaus:</label>
      <input type="text" maxlength="200">
    </div>
    <div class="form-group">
      <label>Vaihtoehdon nimi:</label>
      <input type="text" maxlength="100">
      <label>Vaihtoehdon kuvaus:</label>
      <input type="text" maxlength="200">
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary">Lisää uusi vaihtoehto</button>
    </div>
    {% if user_logged_in %}
    <div class="form-group">
      <button type="submit" class="btn btn-success">Päivitä</button>
    </div>
    {% endif %}
  </form>
  {% if user_logged_in %}
  <form method="post" action="{{base_path}}/poll/{{poll.id}}/destroy" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">Poista</button>
  </form>
  {% endif %}
{% endblock %}