{% extends "base.html" %}
{% block content %}

  {% if errors %}
  <div class="alert alert-danger">
    <ul>
      {% for error in errors %}
      <li>{{error}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="page-header">
    <h2>Muokkaa vaihtoehtoa</h2>
  </div>

  <form method="post" action="{{base_path}}/option/{{option.id}}/edit">
    <div class="form-group">
      <label>Vaihtoehdon nimi:</label>
      <input name="name" class="form-control" type="text" maxlength="100" value="{{option.name}}">
    </div>

    <div class="form-group">
      <label>Vaihtoehdon kuvaus:</label>
      <input name="description" class="form-control" type="text" maxlength="200" value="{{option.description}}">
    </div>
    {% if user_logged_in %}
    <div class="form-group">
      <button type="submit" class="btn btn-success">Päivitä</button>
    </div>
    {% endif %}
  </form>
  {% if user_logged_in %}
  <form method="post" action="{{base_path}}/option/{{option.id}}/destroy" style="display: inline-block;">
   <button type="submit" class="btn btn-danger">Poista</button>
  </form>
  {% endif %}
{% endblock %}