{% extends "base.html" %}
{% block content %}
	<h1>Käyttäjän tiedot</h1>

		<div>
    		<table class="table table-striped table-bordered">
      			<tr>
					<td class="row_title">Käyttäjän nimi:</td>
        			<td>{{operator.name}}</td>
      			</tr>
     			<tr>
       				<td class="row_title">Ylläpitäjä:</td>
       				{% if operator.owner %}
      					<td>Kyllä</td>
      				{% else %}
      					<td>Ei</td>
      				{% endif %}
      			</tr>
    		</table>
   		</div>
{% endblock %}