{% extends "base.html" %}
{% block content %}
{% if error %}
  <div class="alert alert-danger">
      {{error}}
  </div>
{% endif %}

  <h1>Rekisteröidy</h1>
  <form method="post" action="{{base_path}}/register">
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input class="form-control" name="name" type="text" value="{{name}}" placeholder="Käyttäjätunnus" maxlength="15">
    </div>

    <div class="form-group">
      <label>Salasana</label>
      <input class="form-control" type="password" name=password placeholder="Salasana" maxlength="30">
    </div>

    <div class="form-group">
      <label>Anna salasana uudelleen</label>
      <input class="form-control" type="password" name=repeatedPassword placeholder="Salasana" maxlength="30">
    </div>    

    <button type="submit" class="btn btn-success">Rekisteröidy</button>
  </form>
{% endblock %}