{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Äänestys</h1>
  </div>
  <div>
  <table class="table table-striped table-bordered">
		<tr>
			<td>Äänestyksen aihe</td>
			<td>ELEAGUE Major 2017</td>
		</tr>
		<tr>
			<td>Kuvaus</td>
			<td>Kuka semifinalisteista voittaa vuoden 2017 ELEAGUE majorin?</td>
		</tr>
		<tr>
			<td>Lisätty</td>
			<td>2017-01-25 00:00:00</td>
		</tr>
		<tr>
			<td>Sulkeutuu</td>
			<td>2017-02-16 00:00:00</td>
		</tr>
	</table>
	</div>
	<h2>Vaihtoehdot:</h2>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Vaihtoehto</th>
				<th>Kuvaus</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		<tr>
			<td>NAVI</td>
			<td>Selkeä enakkosuosikki turnaukseen lähdettäessä</td>
			<th><a class="btn btn-success btn-sm" href="#">Äänestä!</a></th>
		</tr>
		<tr>
			<td>Virtus Pro</td>
			<td>Vahva suorittaja LAN-turnauksissa</td>
			<th><a class="btn btn-success btn-sm" href="#">Äänestä!</a></th>
		</tr>
		<tr>
			<td>Astralis</td>
			<td>Epävakaa tanskalaisviisikko, joka pursuaa potentiaalia</td>
			<th><a class="btn btn-success btn-sm" href="#">Äänestä!</a></th>
		</tr>
		<tr>
			<td>Faze</td>
			<td>Suomalaisen Aleksi Jallin tähdittämä yllättäjä</td>
			<th><a class="btn btn-success btn-sm" href="#">Äänestä!</a></th>
		</tr>
		</tbody>
	</table>
{% endblock %}